body {
  height: 100vh;
  margin: 0;
  overflow: auto;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.section-1,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.footer {
  padding-left: 150px;
  padding-right: 150px;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.body-sections {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  flex-basis: 150px;
  flex-grow: 1;
}

.header {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header span {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-section-column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 8px;
  width: 500px;
}

.hero-header {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 5px 20px;
  width: fit-content;
  border: #3882f6;
  border-radius: 5px;
}

.hero-image {
  background-color: grey;
  width: 400px;
  flex-grow: 0;
}

.section-2 {
    padding-top: 10px;
}

.section-2 p {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.item-list {
  display: flex;
  justify-self: center;
  gap: 40px;
}

.item-list img {
  width: 200px;
  border: #3882f6;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}

.item-list .text {
  color: #1f2937;
  size: 18px;
  width: 200px;
}

.section-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  max-width: 775px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  margin-bottom: 5px;
}

.quote-attribution {
  font-weight: bold;
  font-size: 20px;
  color: #1f2937;
  text-align: end;
  margin-top: 5px;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-modal {
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  align-items: center;
  height: 100px;
  padding: 20px 30px;
  flex: 1;
}

.call-to-action-text {
  margin-left: 50px;
}

.cta-header {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.cta-subtitle {
  padding: 0;
  font-size: 12px;
}

.call-to-action-button {
  margin-right: 50px;
  margin-left: auto;
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #f9faf8;
  border-style: solid;
  border-radius: 8px;
  height: fit-content;
  padding: 5px 20px;
}

.footer {
  text-align: center;
  justify-content: center;
  align-content: center;
  min-height: 60px;
}
