body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.section-1,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.footer {
  padding-left: 50px;
  padding-right: 50px;
}

.body-sections {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  flex-basis: 150px;
  flex-grow: 1;
}

.header {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header span {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.section-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  max-width: 775px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  margin-bottom: 5px;
}

.quote-attribution {
  font-weight: bold;
  font-size: 20px;
  color: #1f2937;
  text-align: end;
  margin-top: 5px;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-modal {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    align-items: center;
    height: 100px;
    padding: 20px 30px;
    flex: 1;
}

.call-to-action-text {
    margin-left: 50px;
}

.cta-header{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.cta-subtitle {
    padding: 0;
    font-size: 12px;
}

.call-to-action-button {
    margin-right: 50px;
    margin-left: auto;
    background-color: #3882F6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-style: solid;
    border-radius: 8px;
    height: fit-content;
    padding: 5px 20px;
}

.footer {
  text-align: center;
  justify-content: center;
  align-content: center;
  min-height: 60px;
}
